.pokemon-list {
  margin-top: 3em;
}

.pokemon-list .ui.segment {
  border: none;
  box-shadow: none !important;
  margin: 0;
}

.pokemon-list .ui.segment .ui.label {
  font-size: 14px;
}

.font-weight-700 {
  font-weight: 700;
}
